
/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #000000;
}

.interface {
    max-width: 80%;
    margin: 0 auto;
}

/* Menu de navegação */

h1 {
    font-size: 250%;
    font-weight: 700;
    color: #ffffff;
}

header {
    padding: 30px 4%;
}

header > .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #6e6e6e;
    text-decoration: none;
    display: inline-block;
    transition: .1s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 20px;
}

/* Inicio */

section div.interface {
    padding: 100px 4%;
    display: grid;
    text-align: center;
    color: #fff;
    gap: 80px;
}

.minha-foto {
    max-width: 270px;
    height: 270px;
    border-radius: 50%;
    transition: .5s;
}

.minha-foto:hover {
    transform: scale(1.03);
}

.texto-topo {
    font-size: 2rem;
    margin-bottom: 2rem;
}

button {
    background-color: #0099ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: .1s;
    font-size: large;
}

button:hover {
    background-color: #0077cc;
    transform: scale(1.05);
}

/* Sobre mim */

.sobre-mim {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
    width: 85%;
    max-width: 600px;
}

/* Formação */

.geral {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 5% 20%;
}

.card h3 {
    font-size: 1.3rem;
    font-weight: 1000;
}

.card {
    color: #fff;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    width: 85%;
    max-width: 600px;
    transition: 0.5s;
    border: 2px solid #0077cc3d;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 12px #0077cc;
}

.card i {
    font-size: 3rem;
    align-items: center;
    color: #0077cc;
}

/* Experiencia */

.experiencia {
    font-size: 1.1rem;
}

.experiencias-profissionais {
    color: #fff;
    padding: 1% 0%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.card-experiencias {
    color: #fff;
    padding: 1rem;
    border-radius: 0.75rem;
    transition: 0.5s;
    border: 2px solid #0077cc3d;
    margin: 0 auto;
    width: 85%;
    max-width: 600px;
}

.card-experiencias:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 12px #0077cc;
}

.card-experiencias strong {
    font-size: 1.4rem;
}

.bi-suitcase-lg {
    font-size: 3rem;
    align-items: center;
    color: #0077cc;
}

/* Certificados */

.certificados {
    padding: 5% 30%;
    color: #fff;
    text-align: center;
}

.certificados h3 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.certificados a {
    color: #ffffff;
    text-decoration: none;
}

/* Contato */

.contato {
    color: #ffffff;
    text-align: center;
    padding: 2% 30%;
}

.direitos {
    background-color: #21252b;
    color: #ffffff;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 0.9rem;
}